@import "tailwindcss";

:root {
    color: #424240;

    --ct-color: #4252a0;
    --terrorist-color: #f7b04c;

    --theme-color-1: #d7d7fc;
    --theme-color-2: #a0a0f6;
    --theme-color-3: #8a8aef;
    --theme-color-4: #5262b4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@theme {
    --animate-fadeIn: fadeIn 0.15s ease-in-out;
    --animate-slowFadeIn: fadeIn 0.5s ease-in-out;
}